@{
    ViewBag.Title = "Home Page";
}

<div>
    here is my chat:<br/>
    <div class="container">
        <input type="text" id="message" />
        <input type="button" id="sendmessage" value="Send" />
        <input type="hidden" id="displayname" />
        <ul id="discussion"></ul>
    </div>
    <script src="signalr/hubs"></script>
    <script type="text/javascript">
        function archive(id) {
            var notificationHub = $.connection.notificationHub;
            console.log('notify server');
            notificationHub.server.closeActivity(id);

            console.log('remove element');
            $("#discussion li[data-id='"+id+"']").remove();
        }
        $(function () {
            var notificationHub = $.connection.notificationHub;
            notificationHub.client.statusUpdate = function (obj) {
                obj.forEach(function(val) {
                    $('#discussion').append('<li data-id=\'' + val.Id + '\'><div>' + val.Title + '&nbsp; <span style="font-weight: bold;" onclick="archive(\'' + val.Id + '\');">remove</span></div></li>');    
                });
                
            };

            $.connection.hub
                .start()
                .done(function() {
                    console.log("Connected, id = " + $.connection.hub.id);
                });
        });
    </script>
</div>